<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="grid-row.html">

<polymer-element name="game-grid" attributes="rows">
    <template>
        <div layout vertical center>
            <template repeat="{{row in rows}}">
                <grid-row cells="{{row}}"></grid-row>
            </template>
        </div>
    </template>
    <script>
        Polymer('game-grid', {
            /* The array of rows of the grid
             * 
             * @attribute rows
             * @type array
             * @default [[{}]] //(empty)
             */
            rows: [[{}]]
        });
    </script>
</polymer-element>