<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="core-cell.html">

<polymer-element name="grid-cell" extends="core-cell" attributes="index selected">
    <template>
        <style>
            :host {
                position: relative;
                width: 3.9em;
                height: 3.9em;
            }

            @media screen and (max-width: 1200px){
                :host{
                    width: 3.9em;
                    height: 3.9em;
                }
            }
            
            @media screen and (max-width: 1024px){
                :host{
                    width: 3.2em;
                    height: 3.2em;
                }
            }
            
            @media screen and (max-width: 768px){
                :host{
                    width: 3.5em;
                    height: 3.5em;
                }
            }
            
            @media screen and (max-width: 480px){
                :host{
                    width: 2.5em;
                    height: 2.5em;
                }
            }
            
            @media screen and (max-width: 320px){
                :host{
                    width: 2em;
                    height: 2em;
                }
            }

            #ripple {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                color: {{rippleColor}};
                pointer-events: none;
            }
        </style>
        <!--Renders the core-cell template-->
        <shadow></shadow>
        <paper-ripple id="ripple" fit class="circle" opacityDecayVelocity="2.5"></paper-ripple>
    </template>
    <script>
        Polymer('grid-cell', {
            /** The cell index
             * 
             * @attribute index
             * @type number
             * @default 0
             */
            index: 0,
            /** If true, the button is indicated as selected
             * 
             * @attibute selected
             * @type boolean
             * @default false
             */
            selected: false,
            rippleColor: '#768789',
            eventDelegates: {
                down: 'downAction',
                tap: 'upAction',
                hold: 'endRipple',
                trackend: 'endRipple'
            },
            downAction: function(e) {
                this.$.ripple.downAction(e);
            },
            upAction: function(e) {
                this.endRipple();
                this.selected = !this.selected;
                this.fire('selected', {color: this.color, id: this.index,
                    selected: this.selected});
            },
            endRipple: function(e) {
                this.$.ripple.upAction();
            },
            changeCellColor: function(color) {
                this.background = color;
                if (this.color === 'whitesmoke' || this.color === '#768789') {
                    this.color = color;
                }
            },
            selectedChanged: function() {
                if (this.selected) {
                    this.changeCellColor('#768789');
                    this.rippleColor = 'whitesmoke';
                } else {
                    this.changeCellColor('whitesmoke');
                    this.rippleColor = '#768789';
                }
            }
        });
    </script>
</polymer-element>