<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="grid-cell" attributes="color" touch-action="scroll">
    <template>
        <style>
            :host {
                display: block;
                background: {{background}};
                padding: 10px;
                width: 3em;
                height: 3em;
                border-radius: 8px;
                font-size: 1rem;
                font-weight: 300;
            }

            .cell{
                background: {{color}};
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
        </style>
        <div class="cell" layout horizontal center>
        </div>
    </template>
    <script>
        Polymer('grid-cell', {
            background: "whitesmoke",
            /*Makes default color same as background*/
            color: "whitesmoke"
        });
    </script>
</polymer-element>