<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="grid-cell.html">

<polymer-element name="grid-row" attributes="cells">
    <template>
        <div layout horizontal center>
            <template repeat="{{cell in cells}}">
                <grid-cell color="{{cell.color}}" index="{{cell.id}}" selected="{{cell.selected}}"></grid-cell>
            </template>
        </div>
    </template>
    <script>
        Polymer('grid-row', {
            publish: {
                /*The cells of a row
                 * 
                 * @attribute cells
                 * @type array
                 * @default [{color: 'whitesmoke', x: 0, y:0, selected: false}]
                 */
                cells: [{color: 'whitesmoke', x: 0, y:0, selected: false}]
            }
        });
    </script>
</polymer-element>